<br/>
<div class="jumbotron">
    <h1>Bloccit</h1>
    <p>Bloccit is a resource for discussion and sharing links with your friends!</p>
    <p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> right away!
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Instantly Share with your friends!</h2>
        <p>Good Ol' 90s style disscussion</p>
    </div>
    <div class="col-md-4">
        <h2>Find answers for anything.</h2>
        <p>Anything at all.</p>
    </div>
    <div class="col-md-4">
        <h2>MEMES MEMES MEMES</h2>
        <p>Cats, Fails, you name it, we got it.</p>
    </div>
</div>